.shop-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

/* Title at the top */
.shop-title {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 5rem;
    color: white;
}

/* Select Joker text */
.shop-message {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
}

/* Next Button at bottom */
#next-blind-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 40px;
    font-size: 3.5rem;
    cursor: pointer;
}

/* joker container */
.joker-row {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 150px;
}

/* individual joker card */
.joker-card {
    width: 380px;
    padding: 20px;
    text-align: center;

    background: #483c2d;
    border-radius: 12px;
}

/* take button */
.joker-card button {
    margin-top: 10px;
    padding: 10px 16px;
}

.joker-image {
    width: 290px;
    height: auto;
}

.joker-title {
    font-size: 1.2rem;
    margin-top: 10px;
    color:white;
}

.joker-desc {
    font-size: 0.9rem;
    margin-top: 6px;
    color: white;
}