
/* start screen background and layout */
.start-screen {
    background-image: url("../assets/images/main-bkg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /* full viewport */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* space between title and buttons */
}

/* game title styling */
.game-title {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top: 200px;
    margin-bottom: 150px;

    gap: 40px;
    /* space between */
}

/* high letters row */
.high-word {
    display: flex;
    gap: 35px;
}

/* png  styling */
.title-letter {
    height: 380px;
    /* adjust size here */
    image-rendering: pixelated;
}

/* stakes text styling */
.stakes-word {
    font-size: 10rem;
    color: white;

    text-shadow: -12px 5px 0 #000;

    font-family: 'Press Start 2P', cursive;
    margin-top: 25px;
}

/* container for buttons */
.button-group {
    display: flex;
    flex-direction: row;
    /* horizontal layout */
    gap: 100px;
    /* space between buttons */
    justify-content: center;
    align-items: center;
}

/* start button styling */
.start-button {
    padding: 25px 50px;
    font-size: 8rem;
    border-radius: 16px;
    background-color: rgb(217, 194, 163);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    text-shadow: -5px 5px 0 #000;
    /* pixel outline for text */
}

/* start button hover */
.start-button:hover {
    background-color: rgb(199, 176, 149);
}

/* guide button styling */
#guide-button {
    padding: 25px 50px;
    font-size: 8rem;
    border-radius: 16px;
    background-color: rgb(217, 194, 163);
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
    text-shadow: -5px 5px 0 #000;
}

/* guide button hover */
#guide-button:hover {
    background-color: rgb(199, 176, 149);
}

/* hidden popup default */
.hidden {
    display: none;
}

/* dark background overlay */
#guide-popup {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.707);

    justify-content: center;
    align-items: center;

    z-index: 999;
}

/* ONLY show when not hidden */
#guide-popup:not(.hidden) {
    display: flex;
}

/* popup box */
#guide-content {
    position: relative;
}

/* guide image */
#guide-image {
    max-width: 90vw;
    max-height: 90vh;

    border-radius: 10px;
}

/* close button */
#close-guide {
    position: absolute;
    top: -10px;
    right: -10px;

    font-size: 40px;
    color: white;
    cursor: pointer;

    background: black;
    border-radius: 50%;
    padding: 5px 12px;
}